<nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark" dropdown>
  <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Features</a>
      <a class="nav-item nav-link" href="#">Pricing</a>
      <a class="nav-item nav-link disabled" href="#">Disabled</a>
    </div>
</nav>
<!-- <div class="container-fluid">
  <!-- <router-outlet></router-outlet>
</div> -->

<twod-editor></twod-editor>